.featurewrapper {
    width: 100%;
    height: auto;
    background-color: black;
   
   
}

.featureimagewrapper {
    width: 100%;
    height: 85%;
    background-image: url('src/assets/Images/group-happy-african-children-drinking-water-from-faucetclean-water-problems_892345-1839.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-bottom: 70px;
}

.featureimagewrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%; /* Adjust height as needed */
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)); /* Shadow gradient */
    pointer-events: none;
}


.featureimagetext {
    width: 50%;
    height: 25%;
    /* background-color: white; */
    margin-left: 40px;
    margin-top: 500px;
    z-index: 100;
    text-align: left;
}

.featureShadowCover{
    width: 100%;
    height: 100px;
    background: #000;
}

.imagetext {
    color: #ffffff;
    font-weight: 600;
    font-size: 40px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.featuredonatebtn {
    background-color: #366227;
    margin-top: 30px;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 20px;
    border: 0;
    font-weight: 600;
}

h2 {
    font-size: 15px;
    color: #ffffff;
    font-weight: 900;
    padding-top: 10px;
}

.featuredonatebtn:hover {
    background-color: #abfc29;
    transform: scale(1.05);
    transition:  0.3s ease, transform 0.6s ease;
    color: #000;
       
}
/* .featuredonatebtn h2 :hover{
    color: black;
    font-size: larger;
    background-color: blue;
} */

.featureneedspage {
    width: 100%;
    height: max-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 4%;
    align-items: center;
    justify-content: center;

}


.imageAndTextLayers{
    width: 80%;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* background: red; */
}


.imageAndTextLayers .imageHolder1{
    width: 30%;
    height: 90%;
    background-image: url(../assets/Images/TailorImg.png);
    background-position: center;
    background-size: cover;
    border-radius: 50% 50% 0%;
}

.imageAndTextLayers .imageHolder2{
    width: 30%;
    height: 90%;
    background-image: url(../assets/Images/babies-mums.jpg);
    border-radius: 0% 50% 50%;
}

.imageAndTextLayers .imageHolder3{
    width: 30%;
    height: 90%;
    background-image: url(../assets/Images/UNI537557.JPG.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 0% 50% 50% 0%;
}


.imageAndTextLayers .imageHolder4{
    width: 30%;
    height: 90%;
    background-image: url(../assets/Images/Programevent2.png);
    background-position: center;
    background-size: cover;
    border-radius: 50% 0% 0% 50%;
}


.imageAndTextLayers .imageHolder5{
    width: 30%;
    height: 95%;
    background-image: url(../assets/Images/Baby-with-Cancer-6.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50% 50% 0% 0%;
}
.textLayerHeading5 {
    width: 37%;
    height: 15%;
    background-color: darkgreen;
    color: white;
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    
}

.imageAndTextLayers .imageHolder6{
    width: 25%;
    height: 70%;
    background-image: url(../assets/Images/Hamzat.png);
    background-position: center;
    background-size: cover;
    border-radius: 50% 40% 0% 50%;
}




.textLayerHeading{
    width: 70%;
    height: max-content;
    padding: 5px;
    color: white;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    background: #366227;
    
    & h1{
        font-size: 23px;
        
    }
   
}
p {
    font-weight: 500;
}

.imageAndTextLayers .layerTextWrapper{
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
}

.donation-sectionMain{
    width: 100%;
    height: 45vh;
    /* background-color: #000; */
  }
  
  .donation-section {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 50px 20px;
    border-radius: 20px;
    margin: 10px;
    /* font-size: large; */
  }
  
  .donation-section h2 {
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    /* font-family: "Montserrat"; */
  }
  
  .donate-button {
    background: #366227;
    color: white;
    padding: 15px 25px;
    font-size: 16px;
    /* font-family: "Montserrat"; */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s ease-in-out;
  }
  
  .donate-button:hover {
    background: #9bf809;
    color: #000;
  }

/* .partnersDiv {
    width: 95%;
    height: 70vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .partnersLink {
    width: 80%;
    height: 65%;
    background-color: #366227;
    display: flex;
  }
  
  .meetDiv {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .meetDiv h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 40px;
  }
  
  .sponsorDiv {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .sponsorDiv1 {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .sponsorDiv2 {
    width: 100%;
    height: 90%;
    display: flex;
    gap: 15px;
  }
  
  .sponsorImg {
    width: 100%;
    height: 90%;
    background-color: white;
  }
  
  .sponsorImg1 {
    width: 100%;
    height: 90%;
    background-color: white;
} */

.partnermotto {
    width: 100%;
    height: 1900%;
    /* background-color: red; */
    padding-left: 9.5%;
    padding-right: 8%;
    display: flex;
    flex-direction: column;
    gap: 3%;
  
 & .partnerstext {
      width: 100%;
      height: 20%;
      background-color: #3d752a;
      display: flex;
      margin-top: 5%;
  
     & p {
        width: 40%;
        height: 100%;
        margin-top: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        font-weight: 700;
        color: white;
      }
  
      & .partLogoimage {
        width: calc(100% - 40%);
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
  
        & .box1 {
          width: 22%;
          height: 47%;
          background-color: white;
  
          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  
}
.supportpage { 

    width: 70%;
    height: 40%;
    /* background-color: #366227; */
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    
}

.supportpage h1 {
    font-weight: 800;
}