.header_body{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-family: Montserrat;

}

.header_wrapper{
    position: fixed;
    z-index: 2;
    top: 20px;
    width: 70%;
    height: 100px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    align-self: center;
    justify-self: center;
    left: 280px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo{
    width: 20%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;

    & img{
        width: 150px;
        height: 50px;
    }
    
}
.text{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & a{
        text-decoration: none;
    }

    & h4{
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;
        transition:  color 0.3 ease;
        color: black;
        
    }

    & h4:hover{
        color: grey;
    }

}
.right{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.donate{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    color: black;
    background-color: lime;
    cursor: pointer;

}