.donateBody {
  width: 100%;
  height: max-content;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4aee13;
}

.donateHeader {
  width: 95%;
  height: 20vh;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.donateMoney {
  width: 95%;
  height: 15vh;
  background-color: #366227;
  display: flex;
  align-items: center;
}

.donateMoney h1 {
  font-family: "Montserrat", serif;
  font-weight: bolder;
  margin-left: 180px;
  color: white;
  font-size: 35px;
}

.donateDesc {
  width: 95%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.descRiption {
  width: 65%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.descRiption p {
  width: 100%;
  height: 20vh;
  font-family: "Montserrat", serif;
}

.descImage {
  width: 75%;
  height: 100vh;
  background-color: #191d18;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: #366227;
  color: white;
  font-size: larger;
  font-weight: bold;
}
